<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.cozy.calendarsync"
    version="1.0.0">

    <name>CalendarSync</name>
    <description>Cordova calendar syncadapter plugin</description>
    <license>AGPL v3</license>
    <keywords>cordova,calendars</keywords>
    <repo>https://github.com/cozy/cordova-plugin-calendarsync.git</repo>
    <issue>https://github.com/cozy/cordova-plugin-calendarsync/issues</issue>

    <js-module src="www/calendarsync.js" name="calendarsync">
        <clobbers target="navigator.calendarsync" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CalendarSync">
                <param name="android-package" value="io.cozy.calendarsync.CalendarSyncManager"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CALENDAR" />
            <uses-permission android:name="android.permission.WRITE_CALENDAR" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="io.cozy.calendarsync.syncadapter.SyncService" android:exported="true" >
                <intent-filter>
                    <action android:name="android.content.SyncAdapter" />
                </intent-filter>
                <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/calendar_syncadapter" />
            </service>

        </config-file>
        
        <source-file src="src/android/CalendarSyncManager.java" target-dir="src/io/cozy/calendarsync" />
        <source-file src="src/android/CalendarAccessor.java" target-dir="src/io/cozy/calendarsync" />
        <source-file src="src/android/EventAccessor.java" target-dir="src/io/cozy/calendarsync" />
        <source-file src="src/android/Tools.java" target-dir="src/io/cozy/calendarsync" />
        <source-file src="src/android/syncadapter/SyncAdapter.java" target-dir="src/io/cozy/calendarsync/syncadapter" />
        <source-file src="src/android/syncadapter/SyncService.java" target-dir="src/io/cozy/calendarsync/syncadapter" />
        <source-file src="src/android/res/calendar_syncadapter.xml" target-dir="res/xml" />

    </platform>
</plugin>
